<!--include header-->
<%-include('include/_header.ejs')%>
    <!--include header-->

    <!--Main site-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav-flex d-fles-justify-between">
                <a href="/add-user" class="border-shadow">
                    <span class="text-gradient">New User<i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                </a>
            </div>

            <form action="/" method="POST">
                <p id="desc"></p>
                <table class="table" aria-describedby="desc">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">@Email</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%-include('include/_show.ejs')%>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
    <!--/Main site-->

    <!--include footer-->
    <%-include('include/_footer.ejs')%>
        <!--include footer-->